@import 'lib/vars';
@import 'lib/mixins';
@import 'lib/reboot';
@import 'lib/fontawesome/font-awesome';
@import 'lib/fontface';
@import 'lib/keyframes';
@import 'lib/typo';

@import 'partials/header';
@import 'partials/footer';
@import 'partials/slider';
@import 'partials/brand_animation';

* {
    // border: 1px solid pink;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $spacer * 2;
    width: calc(100% - #{$spacer * 4});
    margin: 0 auto;
}

.grid_fixed {
    @extend .grid;
    max-width: 1080px;
    width: 90%;
}

.content_scale {
    font-size: 16.6px;
}

.content {
    @extend .grid_fixed;
    @extend .content_scale;
    min-height: 250px;

    .content_holder {
        grid-area: 1 / 4 / span 1 / -4;

        @include media(map-get($bp, 'laptop')) {
            grid-area: 1 / 2 / span 1 / -2;
        }

        @include media(map-get($bp, 'mobile_l')) {
            grid-area: 1 / 1 / span 1 / -1;
        }

        text-align: center;
        margin-bottom: $spacer * 4;

        p {
            margin-bottom: $spacer * 0.5;
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 300px;
        margin: 2rem auto;

        .link {
            display: flex;
            a {
                padding: 1rem;
                background: #eee;
                color: #333;
                box-shadow: 0 1px 3px rgba(#000, 0.15);
                transition: box-shadow 350px ease;
                font-weight: bold;

                &:hover {
                    box-shadow: 0 2px 3px rgba(#000, 0.25);
                    transition: box-shadow 350ms ease;

                }
            }
        }
    }
}
